<div class="row">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://open.spotify.com/embed?uri={{ data.remote_id }}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>
